* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}

.calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 450px;
    overflow: hidden;
}

.display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    cursor: default;
    outline: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 25px;
    padding-left: 20px;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

button:nth-child(8) {
    padding-top: 20px;
}

.number-0 {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.left {
    grid-column-start: 3;
}

.left-operator {
    grid-column-start: 4;
}

.operator-btn {
    background-color: hsl(35, 80%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}